body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
  font-family: Arial, sans-serif;
  margin: 0;
}

.calculator {
  background:#63462D;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#result {
  width: 100%;
  height: 70px;
  text-align: right;
  font-size: 24px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  box-sizing: border-box;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  gap: 10px;
}

button {
  padding: 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background: #fff;
  cursor: pointer;
  transition: background 0.2s;
}

/* button:hover {
  background: #ddd;
} */

.equal {
  background: #53e246;
  color: white;
}

.clear {
  background: #f44336;
  color: white;
}

.span-2 {
  grid-column: span 2;
}
